<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrefPaneSearchParameters</key>
	<string>ErlangInstallerPreferences</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Erlang Solutions. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>ErlangInstallerPreferences</string>
	<key>NSPrefPaneIconFile</key>
	<string>erlang-solutions.png</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Erlang Installer</string>
	<key>NSPrincipalClass</key>
	<string>ErlangInstallerPreferences</string>
	<key>ReleasesUrl</key>
	<string>$(RELEASES_URL)</string>
	<key>BaseTarballUrl</key>
	<string>$(BASE_TARBALL_URL)</string>
</dict>
</plist>
